###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
###< doctrine/doctrine-bundle ###

###> symfony/debug-bundle ###
/.env.local
###< symfony/debug-bundle ###
